%p Welcome!

Read Nevada you fuck

= link_to 'Download the fucking thing you fuck', '/pdf'

= link_to 'Or maybe download it in epub', '/epub'

= link_to 'Or how about mobi you sissy piece of shit', '/mobi'
